<form action="/data/" method = "POST">
    <p>Website <br><input type = "text" name = "Field1_name" /></p>
    <p>Wordlist <br><input type = "text" name = "Field2_name" /></p>
    <b><p>If you want to check for both Directories and Subdomains, please use a wordlist that contains both.</p></b>
    <p>Directories<input type="checkbox" name="direct" value="direct"/></p>
    <p>Subdomains<input type="checkbox" name="subd" value="subd"/></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
